In [41]:
import numpy as np
import pandas as pd

### creating a series

In [42]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [43]:
labels

['a', 'b', 'c']

In [44]:
my_list

[10, 20, 30]

In [45]:
arr

array([10, 20, 30])

In [46]:
d

{'a': 10, 'b': 20, 'c': 30}

In [47]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [48]:
pd.Series(data=labels,index=arr)

10    a
20    b
30    c
dtype: object

In [49]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [50]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### using an index

In [51]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [52]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [53]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [54]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [55]:
ser1['USA']

1

In [56]:
ser2['Italy']

5

In [57]:
ser2[3]

4

In [58]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64